.dart_tool/
.packages
build/
.flutter-plugins*
**/Pods/
**/.symlinks/
**/Flutter/ephemeral/
**/Flutter/Generated.xcconfig
**/Flutter/flutter_export_environment.sh
**/local.properties
*.iml
.idea/
.DS_Store
.env*
*.keystore
*.jks
